.tableFixHead {
  overflow-y: auto;
  max-height: 80vh; /* 使用視窗高度的百分比來設置最大高度 */
}


.tableFixHead thead th {
  position: sticky;
  top: 0;
  background-color: white; /* 可以根據需要調整背景色 */
  z-index: 1;
}

/* 為表格添加一般樣式 */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px 16px;
}

th {
  background: #eee;
}

@media (max-width: 768px) {
  .tableFixHead thead th {
    white-space: nowrap; /* 防止文字換行 */
  }

  .tableFixHead {
    overflow-x: auto; /* 確保小螢幕上的橫向滾動 */
  }
}
